$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
  padding-bottom: 30px;
}


.nsa {
  background-color: black;
  color: lime;
  .jumbotron {
    background-color: rgb(42,42,42);
  }
}


.subject {
  width: 100%;
}

.metadata {
  font-size: 30px;
}

.mail-content {
  margin: 20px 0;
  font-size: 30px;
  font-family: Courier;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

form {
  h3 {
    display: inline-block;
  }
}

form, textarea {
  width: 100%;
  font-size: 18px;
}

textarea {
  font-size: 20px;
}

.btn-send {
  width: 100%;
}

.btn-crypt {
  width: 100%;
  margin-bottom: 5px;
}

.btn-ssl {
  width: 100%;
  margin-bottom: 5px;
}

.decrypt {
  width: 100%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
